.riskform {
    display: flex;
    justify-content: center;
    height: 890px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.chart-buttons {
    marginRight: "5px";
    fontSize: "8pt";
    backgroundColor: "#45AD7E";
    paddingLeft: "5px";
    paddingRight: "5px";
}