#banner {
    background-attachment: fixed;
    background-image: url("./images/yq5P764.jpeg");
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

#banner:before {
    content: '';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
    width: 1%;
}

#banner:after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#banner .content {
    display: inline-block;
    max-width: 95%;
    padding: 10em;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

#banner .content header {
    display: inline-block;
    vertical-align: middle;
}

#banner .content header h2 {
    font-size: 5em;
    margin: 0;
}

#banner-title {
    font-size: 8rem;
    font-weight: 800;
}

#banner-text {
    font-size: 2rem;
    font-weight: 200;
}

#banner .content .image {
    border-radius: 100%;
    display: inline-block;
    height: 18em;
    margin-left: 3em;
    vertical-align: middle;
    width: 18em;
}

#banner .content .image img {
    border-radius: 100%;
    display: block;
    width: 100%;
}

body.is-touch #banner {
    background-attachment: scroll;
}

